<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Something</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">{{'home'|translate}}</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">{{'about'| translate}}</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">{{'share'| translate}}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <select class="form-select" (change)="ChangeLang($event)" name="" id="" >
                    <option [selected]="lang==='en'" value="en">English</option>
                    <option [selected]="lang==='ge'" value="ge">Georgian</option>
                    <option [selected]="lang==='de'" value="de">German</option>
                    <option [selected]="lang==='fr'" value="fr">French</option>
                    <option [selected]="lang==='sp'" value="sp">Spanish</option>
                </select>
            </li>
        </ul>
    </div>

    </div>
</nav>

<div class="card bg-light">
    <div class="card-header" (change)="ChangeLang($event)">
        <h1>{{'info'|translate}}</h1>
    </div>
    <div class="card-main" (change)="ChangeLang($event)">
        <div class="info">
            <h3>{{'name'|translate}}: Luka</h3>
            <h3>{{'email'|translate}}: someone@example.com</h3>
            <h3>{{'contact'|translate}}: 123456789</h3>
        </div>
    </div>
    <div class="card-footer" (change)="ChangeLang($event)">
        <button class="btn btn-danger">{{'subscribe'|translate}}</button>
    </div>
</div>